<h3 id=log_in><a href=#log_in>Log in</a></h3>
<form action='/h0/log_in' method='POST'>
	<label for='email'>Email:</label>
	<input type='text' id='email' name='email'></input>
	<br />

	<label for='password'>Password:</label>
	<input type='password' id='password' name='password'></input>
	<br />
	<br />

	<button type='submit' text='submit'>Log in</button>
	<br />
</form>
<hr />

<h3 id=register><a href=#register>Register</a></h3>
<p>Need an account, and have a beta key? Register here. Check on the discord
if you want a beta key.</p>
<form action='/h0/register' method='POST'>
	<label for='email'>Email:</label>
	<input type='text' id='email' name='email'></input>
	<br />

	<label for='password'>Password:</label>
	<input type='password' id='password' name='password'></input>
	<br />

	<label for='betaKey'>Beta Key:</label>
	<input type='text' id='betaKey' name='betaKey'></input>
	<br />
	<br />

	<button type='submit' text='submit'>Register</button>
	<br />
</form>
